
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFarmalivio.cshtml";
}

<section class="content-header">
    <h1>
        Pagina de Error de Acceso
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/inicio/index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow"> Sin Permisos <strong></strong></h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> </h3>

            <p>
               Has intentado entra a un sitio del sistema que requiere mas permisos
               Si necesitas mas permisos, ponte en contacto con el administrador
            </p>
                <p>
                    Tu rol de Vendedor, no tienes los privilegios nesesario para esta accion
                </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>

